@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #494d55;
  --background-color: #D6DBDC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #c7cad1;
    --background-color: #202228;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
